<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>jspServlet</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ServletTest</display-name>
		<servlet-name>ServletTest</servlet-name>
		<servlet-class>drinkMachine.ServletTest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddController</display-name>
		<servlet-name>AddController</servlet-name>
		<servlet-class>drinkMachine.add.AddController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListController</display-name>
		<servlet-name>ListController</servlet-name>
		<servlet-class>drinkMachine.add.ListController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditController</display-name>
		<servlet-name>EditController</servlet-name>
		<servlet-class>drinkMachine.add.EditController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateController</display-name>
		<servlet-name>UpdateController</servlet-name>
		<servlet-class>drinkMachine.add.UpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletTest</servlet-name>
		<url-pattern>/ServletTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddController</servlet-name>
		<url-pattern>/AddController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListController</servlet-name>
		<url-pattern>/ListController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditController</servlet-name>
		<url-pattern>/EditController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateController</servlet-name>
		<url-pattern>/UpdateController</url-pattern>
	</servlet-mapping>

</web-app>
